 @import "tailwindcss";

 button,
 input[type=submit] {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 10px 40px;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: green !important;
   cursor: pointer;
   transition: border-color 0.25s;
   color: white;
   width: fit-content;
 }

 h1 {
  text-decoration: underline;
  font-size: 2em;
  font-weight: 800;
  line-height: 1.1;
  padding: 0;
  margin: 0;
}

input, select{
  border: 2px solid black;
}

 /*
:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 600;

  --bgColor: #2a2c30;
  --buttonColor: #2a2c30;
  --secondaryColor: #4b4f56;
  --borderColor: #e3eaf0;
  --backgroundColor: #f7f7f7;
  --backgroundSecondary: #fefefe;
  --textColor: #1e1f23;
  --anchorColor: #535bf2;
  --mainColor: #535bf2;
  --supporting-color: #ebf3fe;
  --glow-color: hsl(186, 91%, 4%);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}







button:hover , input[type=submit]:hover {
  border-color: #646cff;
}
button:focus, input[type=submit]:focus
button:focus-visible, input[type=submit]:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */